@font-face {
  font-family: Orator;
  src: url(data/fonts/Orator/OratorStd-Slanted.otf);
}

@font-face {
  font-family: ShareTech;
  src: url(data/fonts/ShareTech/ShareTechMono-Regular.ttf);
}

@font-face {
  font-family: Qwitcher;
  src: url(data/fonts/Qwitcher/QwitcherGrypen-Regular.ttf);
}


@charset "UTF-8" {

}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
      }
    }
  
    


body {
    background-size:100% 100vh;
    background-image:url(data/imgs/stars-gif.gif);
    background-blend-mode:hue;
    

}
header {
  margin-top: 3%;
  color: white ;
  text-align: center;
}

h3 {
  font-family: 'Qwitcher';
  font-size: 2em;
  margin-right: 5%;
}

.line-1{
  font-family: 'ShareTech';
  color: white;
  position: relative;
  top: 50%;  
  width: 10em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 1.5em;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
animation: typewriter 2s steps(25) 1s 1 normal both,
           blinkTextCursor 500ms steps(3) infinite normal;
}
@keyframes typewriter{
from{width: 0;}
to{width: 8.7em;}
}
@keyframes blinkTextCursor{
from{border-right-color: rgba(255,255,255,.75);}
to{border-right-color: transparent;}
}

    .box {
        display: flex;
        vertical-align: middle;
        align-self: middle;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-between;
        padding: 1em;
        width: 70%;
        position: relative;
        text-align: center;
        margin-left: 20%;
        

    }
   
    #backgroundOverlay{
      pointer-events: none;
      display:none;
      background-color:transparent;
      position:fixed;
      top:0;
      left:0;
      right:0;
      bottom:0;
      display:block;
  }
  #popup{
      text-align: left;
      padding: 2%;
      font-size: 1.1em;
      display: none;
      background-color:rgba(245, 245, 245, 0.699);
      border:1px solid #000;
      border-radius: 30px;
      width:70%;
      height:auto;
      position:absolute;
      margin-left:10vw;
      margin-right:10vw;
      margin-top:10vh;
      margin-bottom:10vh;
      z-index:500;
      transition: .6s ease opacity,.6s ease transform;
  }
  
  #closeOverlay{
    color: black;
    background-color:rgba(245, 245, 245, 0.699);
    border:none;
    padding: 1em;
    margin: 2%;
    text-align: center;
    float: right;
    transition-duration: 0.7s;
  }
  #closeOverlay:hover {
    background-color:rgba(0, 0, 0, 0.719);
    color: white;
    transform: scale(1.1)
  }

    .button1 {
        cursor: pointer;
        color: white;
        display: absolute;
        letter-spacing: 1px;
        width: 100px;
        margin-top: 3em;
        margin-bottom: 3em;
        line-height: 5em;
        border-radius: 5%;
        border-style: solid;
        border-color: white;
        border-width: 1px;
        outline-offset: 3px;
        background-color: rgba(245, 245, 245, 0.1);
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.185);
        user-select: none;
        text-decoration: none;
        transition-duration: 0.7s;
    }

        .button1:hover {
            color: black;
            background-color: rgba(245, 245, 245, 0.7);
            -webkit-transition-property: all; 
            -webkit-transition-duration: 0.3s; 
            -webkit-transition-timing-function: ease;
            letter-spacing: 2px;
            transform: scaleX(1.1)

        }


        .button1:hover + .hide {
        opacity: 1.0;
        text-align: center;
        position: fixed;
         
      }
        .button1:active{ 
        transition-duration: 0.7s;
        }


    .hide {
        margin: auto;
        position: fixed;
        top: 25%;
        left: 50%;
        opacity: 0.0;
        height: auto;
        max-width: 300px;
        -webkit-transition: all 500ms ease-in-out;
        -moz-transition: all 500ms ease-in-out;
        -ms-transition: all 500ms ease-in-out;
        -o-transition: all 500ms ease-in-out;
        transition: all 500ms ease-in-out;
        
      }

      .hide img {
        width: 80%;
      }

      
      
      
          
      